body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e0f1e7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.buttonColor {
  background-color: #0c7d69 !important;
}

.symbolRequired {
  color: #0c7d69 !important;
}


@media screen, (max-width: 767px) {
  .cardPadding {
    padding-left: 5% !important;
    padding-right: 5% !important;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}